<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paparazziteam.yakulap">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".root.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yakulap"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".modulos.laboratorio.views.ResultCaptureImageActivity"
            android:exported="true"
            android:theme="@style/Theme.noActionBar"></activity>
        <activity
            android:name=".modulos.laboratorio.views.ChallengeActivity"
            android:exported="false"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".modulos.laboratorio.views.ChallengeParentActivity"
            android:exported="false"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".modulos.puntaje.views.PuntajeActivity"
            android:exported="false"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".modulos.dashboard.views.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.noActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modulos.login.views.RegisterUserActivity"
            android:exported="false"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".modulos.bienvenida.views.WelcomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.FullScreenPersonalizeMaterial" />
        <activity
            android:name=".modulos.login.views.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".modulos.bienvenida.views.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.FullScreenPersonalize">

            <!--  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".helper.design.SlideImageFullScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.profile"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>